.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: '#333';
  font-family: PingFangSC-Regular, "Microsoft YaHei", Arial, Helvetica, sans-serif, 宋体;

  .content {
    flex: 1;
    padding: 10px;
  }
}
